/* #TOTES #SWAG #YOLO #ily */

/* colour palette 
	pink: #e21b5c
	pink backer: #fa2166
*/


/* UNIVERSAL */
/* ------------------------------------------------------------------------------------------- */
body{background:#4a004c;}



/* TYPE */
/* ------------------------------------------------------------------------------------------- */
h4,
.hero_button,
.navbar .nav li a,
.fb,
h2,
h1{font-family: "adelle",serif;}
.title,
p.lead{font-family: "bello-pro",sans-serif;}
p, a, ul li{font-family: "omnes-pro",sans-serif;}

h2{color:#fff; margin-bottom:60px;}
h4{font-size:22px; font-weight:300;}
p{font-size:16px;}
a:hover{text-decoration: none; color:#26a8e9}


/* HEADER */
/* ------------------------------------------------------------------------------------------- */
.navbar{box-shadow: 0 2px 4px rgba(0,0,0,0.7); position: relative;}
.navbar-inner{border:none; background:url(../images/header/backer.jpg) repeat-x top;}
.navbar-inner .container{position: relative;}
.navbar .brand{position: absolute; left:0; top:5px; -moz-transform:rotate(10deg); -webkit-transform:rotate(10deg); transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out;}

.navbar .brand:hover{-moz-transform:rotate(0deg); -webkit-transform:rotate(0deg);}

.navbar .nav li a{font-size: 18px; font-weight: bold; padding: 30px 30px; color:#371137; text-shadow: 0 1px 1px #804180, 0 -1px 1px #272239; transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{color:#ac6bad; background:none; box-shadow: none;}
.navbar .nav li a:hover{color:#ac6bad;}
.navbar .nav li a.contact_link{color:#e21b5c}
.navbar .nav li a.contact_link:hover{color:#e73a74}



/* OVERALL */
/* ------------------------------------------------------------------------------------------- */
.hero{background:#fa2166;}
.page{background:#fefefe}
.content{background:url(../images/body/backer_top.jpg) top repeat-x,url(../images/body/backer_bottom.jpg) bottom repeat-x, url(../images/body/dark_backer.jpg) repeat; padding:80px 0;}

/* heros */
.cakes .hero{background:#f78428}
.parties .hero{background:#28d7f7}
.kits .hero{background:#b1eec0}

/* button */
.button{padding:10px 20px; text-align: center; border-radius: 5px;}
.fb{font-size:18px !important; background:#3b5998; color:#fff; }
.fb:hover{color:#fff; background:#4b67a1;}

/* hero button */
.hero_button{background:url(../images/body/dark_backer.jpg); padding:20px; border-radius: 5px; color:#fff; font-size:18px; font-weight: bold; transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out; border-top:1px solid #fa2166; text-shadow: 0 1px 1px rgba(0,0,0,0.7);}
.hero_button:hover{padding-top:30px; color:#fff; }



/* HOME */
/* ------------------------------------------------------------------------------------------- */

.hero .action{text-align:center; display: block; margin-bottom:-20px;}


.options{text-align: center; padding-top:100px;}
.options .option{background:#fff; border:5px solid #FA2166; border-radius: 5px; display: block; padding:20px; box-shadow: 0 2px 4px rgba(0,0,0,0.7);}
.options .option .title{font-size:30px; line-height:26px; display: block; padding: 20px; color:#fff; background:#fa2166; text-shadow: 0 2px 1px #ca1d53; margin-top:-60px; margin-bottom:20px; border:5px solid #fa2166; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.7);transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out;}
.options .option .description{background:#fff; display: block; transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; min-height: 260px; color:#666; text-shadow: 0 1px 1px #fff; font-size:18px; line-height: 22px;}
.options .option .description img{border-radius: 5px; border:5px solid #fff; margin-left:-5px;}

.options .option:hover .title{background:#f8f8f8; color:#fa2166; text-shadow: none;}


/* CAKES */
/* ------------------------------------------------------------------------------------------- */
.cakes .options .option .description{min-height: 140px;}
.cakes .action{padding:40px 0;}
.cakes .action p{font-size: 18px; line-height: 24px;}



/* CONTACT AND FOOTER */
/* ------------------------------------------------------------------------------------------- */
.contact{background:#2f1432; padding:40px 0; text-align: center;}
.contact h4{color:#fee9f0; padding-bottom:20px;}
.contact p, .contact a{font-size:32px}
.contact p{color:#fff;}


footer{text-align: center; background:#000; padding:20px 0; color:#999;}





/* RESPONSIVE UP THE WAZOO */
/* -----------------------------------------------------------------------------------------

/* Landscape phones and down */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body{padding:0;}
	.container{padding:0 20px;}
	.options .option{margin-bottom:80px;}
	
}


/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
	.navbar-inner{min-height:78px;}
	.navbar .nav li a{padding:10px; text-shadow: none; color:#ddd;}
	.navbar .nav li:first-child{margin-top:40px;}
	.navbar .btn-navbar{margin-top:20px;}
	.options .option .description{min-height: 187px;}
}



/* Large desktop */
@media (min-width: 1200px) {

}





