/* Andrew Chin does all teh codes and he's not even scared */


/* first some universal things */
/* ______________________________________________________________________*/

/* hacks */
.icon{background-image:none !important;}
body{padding-top:40px; background-color:#eeeaf8;}


/* HEADER */
/* ______________________________________________________________________*/



/* HERO */
/* ______________________________________________________________________*/
.hero{height: 600px; background:url(../images/hero/backer.jpg) no-repeat center top #602261;}



