/* #TOTES #SWAG #YOLO #ily */

/* colour palette 
	pink: #e21b5c
	pink backer: #fa2166
*/


/* UNIVERSAL */
/* ------------------------------------------------------------------------------------------- */
body{background:#4a004c;}



/* TYPE */
/* ------------------------------------------------------------------------------------------- */
h4,
.hero_button,
.navbar .nav li a,
h1{font-family: "adelle",serif;}
.title,
p.lead{font-family: "bello-pro",sans-serif;}
p, a, ul li{font-family: "omnes-pro",sans-serif;}

h4{font-size:22px; font-weight:300;}
p{}
a:hover{text-decoration: none; color:#26a8e9}


/* HEADER */
/* ------------------------------------------------------------------------------------------- */
.navbar{box-shadow: 0 2px 4px rgba(0,0,0,0.7); position: relative;}
.navbar-inner{border:none; background:url(../images/header/backer.jpg) repeat-x top;}
.navbar-inner .container{position: relative;}
.navbar .brand{position: absolute; left:0; top:5px; -moz-transform:rotate(10deg); -webkit-transform:rotate(10deg); transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out;}

.navbar .brand:hover{-moz-transform:rotate(0deg); -webkit-transform:rotate(0deg);}

.navbar .nav li a{font-size: 18px; font-weight: bold; padding: 30px 30px; color:#371137; text-shadow: 0 1px 1px #804180, 0 -1px 1px #272239; transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{color:#ac6bad; background:none; box-shadow: none;}
.navbar .nav li a:hover{color:#ac6bad;}
.navbar .nav li a.contact_link{color:#e21b5c}
.navbar .nav li a.contact_link:hover{color:#e73a74}



/* OVERALL */
/* ------------------------------------------------------------------------------------------- */
.hero{background:#fa2166;}
.page{background:#fefefe}
.content{background:url(../images/body/dark_backer.jpg) repeat; padding:80px 0; box-shadow: inset 0 3px 3px rgba(0,0,0,0.2);}

/* button */
.button{padding:10px 20px; text-align: center; border-radius: 5px;}
.fb{font-size:14px !important; background:#3b5998; color:#fff; }
.fb:hover{color:#fff; background:#4b67a1;}

/* hero button */
.hero_button{background:url(../images/body/dark_backer.jpg); padding:20px; border-radius: 5px; color:#fff; font-size:18px; font-weight: bold; transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out; border-top:1px solid #fa2166; text-shadow: 0 1px 1px rgba(0,0,0,0.7);}
.hero_button:hover{padding-top:30px; color:#fff; }



/* HOME */
/* ------------------------------------------------------------------------------------------- */

.hero .action{text-align:center; display: block; margin-bottom:-20px;}

.options{text-align: center; padding-top:100px;}
.options .option{background:url(../images/body/backer.jpg); border:1px solid #fff; border-radius: 5px; display: block; padding:20px; box-shadow: 0 2px 4px rgba(0,0,0,0.7);}
.options .option .title{font-size:30px; display: block; padding: 20px; color:#4d1d4d; background:#f8f8f8; margin-top:-60px; margin-bottom:20px; border:5px solid #fa2166; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.7); transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out;}
.options .option img{border:10px solid #f8f8f8; margin-left:-10px; border-radius: 5px; box-shadow: 0 3px 3px rgba(0,0,0,0.8); background:#fff;}

.options .option:hover .title{background:#fa2166; color:#fff; text-shadow: 0 2px 1px #ca1d53}
.options .option:hover{opacity:1;}

/* CONTACT AND FOOTER */
/* ------------------------------------------------------------------------------------------- */
.contact{background:#2f1432; padding:40px 0;}
.contact h4{color:#fee9f0; padding-bottom:20px;}
.contact p, .contact a{font-size:32px}
.contact p{color:#fff;}


footer{text-align: center; background:#000; padding:20px 0; color:#999;}